body {
    margin: 0;
    background-color: #222;
}
h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}

form, ul {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 55px #fff2;
}
.form-input {
    padding: 10px 20px;
}
input, textarea, select, li, button{
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 4px;
    color: #eee;
}

ul{
    list-style-type: none;
    padding: 12px 12px;
}

li {
    margin-top: 15px;
}
button {
    width: 30%;
}
select {
    background-color: #222;
}

label {
     color: #fff;
     font-family: sans-serif;
     line-height: 2;
}

#Enviar {
    width: 40%; 
} 

#Enviar:hover, button:hover {
    background-color: #666;
}

 