<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="form-input">
      <form id="form-users" action="/process" method="post">
        <h2>REGISTRAR USUARIO</h2>
        <div class="form-input">
          <label for="nombre">Nombre Completo</label>
          <input
            type="text"
            placeholder="Palma Ariel"
            id="nombre"
            name="nombre"
          />
        </div>
        <div class="form-input">
          <label for="email">Email</label>
          <input
            type="email"
            placeholder="palmaariel@gmail.com"
            id="email"
            name="email"
          />
        </div>
        <div class="form-input">
          <label for="">Constraseña</label>
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
          />
        </div>
        <div class="form-input">
          <input type="submit" value="Enviar" id="Enviar" />
        </div>
      </form>
    </div>
    
    <div class="user-list">
      <ul id="userList"></ul>
    </div>
    <script src="../static/main.js"></script>
  </body>
</html>
